{% extends "main.html" %}

{% block content %}

<style>
  .room__container{
    display: grid;
    grid-template-columns: 4fr 1fr;
  }
</style>

<div class="room__container">



  <div>
    <h1>{{room.name}}</h1>

    <p>{{room.description}}</p>

    <div class="comment__container">
      <h3>Comments</h3>
      {% for message in room_messages %}
      <div>
        {% if request.user == message.user %}
          <a href="{% url 'delete-message' message.id %}">Delete</a>
        {% endif %}

        <small>
          @{{message.user}} {{message.create|timesince}}ago
        </small>
        <p>
          {{message.body}}
        </p>
        <hr>
      </div>
      {% endfor %}
    </div>

    {% if request.user.is_authenticated %}

    <div class="comment__form">
      <form method="POST">
        {% csrf_token %}
        <input type="text" placeholder="Write your message here..." name="body">
      </form>
    </div>


    {% endif %}
  </div>
  <div>
    <h3>Participants</h3>
    {% for user in participants %}
      <div>
        <p>@{{user.username}}</p>
      </div>
    {% endfor %}
  </div>
</div>
{% endblock content %}