<div>
  <h5>{{room_count}} Rooms Available</h5>
  <p><a href="{% url 'create-room' %}">Create Room</a></p>
</div>
{% for room in rooms %}
<div>
    <span>@{{room.host.username}}</span>
    <a href="{% url 'room' room.id %}">
    <h5>
      {{room.id}} -- {{room.name}}
    </h5>
    <small>{{room.topic.name}}</small>
    {% if request.user == room.host %}
    <a href="{% url 'update-room' room.id %}">Edit</a>
    <a href="{% url 'delete-room' room.id %}">Delete</a>
    {% endif %}
    <hr>
    </a>
</div>
{% endfor %}